div.container { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div { 
    cursor: pointer;
}
div.tarot { 
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
    margin: 5px 0 0 5px;;
    border-radius: 5px;
}
img { 
    height: 300px;
}